<h1><%= @page_heading%></h1>
<%@item.each do |item| %>
  
  <div class="well"><h2>
  Product: <%=item.name%><br></br>
  Price: $<%=item.price%>
  <a class="btn btn-primary" href="/items/<%=item.product_type%>" role="button"> Click here for <%=item.product_type%></a>
  </div></h2>

<%end%>
