<div class="col-md-4">
<div class="jumbotron">
<div class="container">
<%=@item.name.capitalize%></br>
<%=@item.description%></br>
$<%=@item.price%></br>
<img class = "image" src=<%=@item.image%></img>
</div>
</div>
</div>

<div>
  <%= link_to "Edit Item", "/items/#{@item.id}/edit"%>
</div>


<div>
  <%= link_to "Delete Item", "/items/#{@item.id}", method: :delete%>
</div>
