<div class="col-md-4">
  <div class="jumbotron">
    <div class="container">
      <%=@item.name.capitalize%></br>
      <%=@item.description%></br>
      Retail Price: $<p><%=@item.price%></br>
      Tax to be Collected: $<%=@item.tax%></br>
      Total Including Tax: $<%=@item.total%></br>
      <%=@item.sale_message%>
      <%@item.images.each do |image|%>
      <img class = "image" src="<%=image.url%>"></img>
      <%end%>
        <div>
      <%=@item.supplier.name%>
          <%= link_to "Edit Item", "/items/#{@item.id}/edit"%>
        </div>
        <div>
          <%= link_to "Delete Item", "/items/#{@item.id}", method: :delete%>
        </div>
    </div>
  </div>
</div>

